@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  width: 100%;
  max-width: 500px !important;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

.contenido-id{
display: none;
}

.content-task {
  background-color: #fdfdfd;
  border-radius: 6px;
  flex-direction: column;
}


.content-header {
  display: flex;
  color: #464346;
  padding: 10px;
  font-weight: bold;
  flex-direction: column;
  margin-bottom: 10px;
}

button.btn {
  padding: 2px 7px;
  font-size: 16px;
  background-color: #4b52d9;
  color: white;
  border: none;
  margin: 3px;
  border-radius: 5px;
}

button.btn_Edi {
  padding: 2px 7px;
  font-size: 16px;
  background-color: #4b52d9;
  color: white;
  border: none;
  margin: 3px;
  border-radius: 5px;
}

button.btn_Edi:hover {
  background-color: #d1a100;
  cursor: pointer;
}

button.btn:hover {
  background-color: #ff2e2e;
  cursor: pointer;
}

i.fa-solid.fa-trash {
  margin-left: 0px;
}

.content-task-btn {
  display: flex;
  justify-content: space-between;
}

.content-status {
  display: flex;
  justify-content: space-around;
  background: #ededed;
  font-weight: 100;
  font-size: 14px;
  border-radius: 9px;
}

.chek-task {
  display: flex;
  align-items: center;
  gap: 10px;
}

.texto-tachado {
  text-decoration: line-through;
}

p {
  text-align: left;
  font-size: 13px;
  padding: 9px;
  max-width: 265px;
  width: 100%;
}